<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Meus Cartoes</title>
    <link rel="stylesheet" href="/stylesheets/cartoes.css">
 
  </head>
  <body>
    <%- include('./partials/header')%>
    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <%- include('./partials/usuariomenu')%>
    
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Cartões</h3> 
            </div>            <!--meus dados  -->
            <p>
                Aqui é possível conferir as informações do cartão de crédito.
            </p>
            <p>
                Cadastre seus cartões e escolha qual irá utilizar na hora de finalizar sua compra.
            </p>   
            
 <button type="submit" > <a href="/adicionarcartoes">
              CADASTRAR NOVO CARTÃO</button>
            </a>
             
         </div>
        </main>
    </section>
    </section>
</from>
<%- include('./partials/footer')%>


  </body>
</html>

