<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Meus Endereços</title>
    <link rel="stylesheet" href="/stylesheets/meusenderecos.css">
 
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <!-- menu lateral -->
    <%- include('./partials/usuariomenu')%>
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
               
                <!-- Tela lateral -->
          <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Endereços</h3> 
            </div>            <!--meus dados  -->
           
           
            <form action="/registro" method="get">   
                <!-- <div class="row"> -->
                  
                    <div class="coluna2">
                        
        <label for="nome do destinatário">Nome do Destinatário:</label>
                        
        <input type="text" class="coluna22"  id="nome do destinatário" name="nome do destinatário" placeholder="Digite o nome do destinatário">
                        
                                          
                    </div>
                    
                      <div class="coluna3">
                        <label for="cep">CEP :</label>
                       <input type="text" class="coluna25"  id="cep" name="cep" placeholder="Digite o cep">
                        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não sei o CEP</a>
                    </div>
                <div class="e">
                                          
             <label  for="Rua">Rua :</label>
                                    
            <input type="text" class="coluna22" id="Rua" name="Rua">
             </div>        
             <div class="coluna2">

                <label  for="Bairro">Bairro :</label>
                                    
                <input type="text" class="coluna22" id="Bairro" name="Bairro">
            
                <label  for="Numero">Numero :</label>
                                    
                <input type="text" class="coluna22" id="Numero" name="Numero">
            
</div>
<div class="coluna3">

    <label  for="Cidade">Cidade/Estado :</label>
                                    
                <input type="text" class="coluna22" id="Cidade" name="Cidade">
            
    <label  for="Complemento">Complemento :</label>
                        
    <input type="text" class="coluna22" id="Complemento" name="Complemento">

</div>
         
              
            </div>
        </form>
            <button type="submit" > <a href="./usuario">
                    SALVAR ENDEREÇO </button>
                </a>
               
     
                           

            </div>

                </div>  
                
         </div>        
         </form>        
           

             
         </div>
        </main>
    </section>
    
</from>


    <!-- footer define o rodapé -->
    <footer>
      

            <!-- <img src="images/icones/cadeado.webp" alt="Imagen não encontrada" width="20px"> -->

     <p class="rodapé">
          © 2021 Approve Street Wear Comercial LTDA / CNPJ: 18.391.981/0001-00 - Todos os direitos reservados.

            </p>

          
           <img  class="cadeado"src="images/lock.png"  alt="Imagen não encontrada" >AMBIENTE 100% SEGURO</li>
            
<!--    
            AMBIENTE 100% SEGURO -->

      

    </footer>
  </body>
</html>

