*{
    box-sizing: border-box;  
    margin:0  ;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    background:#fff;
}
section{
    display: block;
    width: 100%;
    /* float: left; */
    clear: both;
     margin-top: 0;
     padding:32px 15px;
     /* flex-direction: column;
     justify-content: right;
     */
      
  }
.tela{
    /* float: left; */
    flex-wrap: wrap;
    display: block;
    width: 100%;
    clear: both;
     margin-top: 0;
     /* padding:32px 15px; 
    */

}
.ped{
    flex-wrap: wrap;
    display: block;
    width: 100%;
    clear: both;
     margin-top: 0;
}
.Informacoespessoais{
    background-color: white;
    width: 300px;
    height: 100x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway'; */
}

.enderecoentrega{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway'; */
}

.formasenvio{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway'; */
}
.cupom{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway'; */
}

.pagamento{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20 px;
    font-family: 'Raleway'; */
}

.pedido{
    background-color: white;
    width: 300px;
    height: 200x;
    border: solid 1px rgb(196, 195, 195);
    /* margin: 30px auto;
    padding: 20px; */
    font-family: 'Raleway';
}

footer{
    font-family: 'Raleway';
    font-size:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width:769px){
    section{
        display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: right;
       
        /* padding:32px 15px; 
        width: 100%;                  */
      }
.tela{
    /* position: relative; */
    display: flex; 
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    /* align-items: flex-start; */
}
.ped{
    display: flex; 
        flex-wrap: wrap;
        /* align-content: flex-start; */
        /* flex-direction: column; */
        justify-content: right; 
}


    }